<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <title>IF - the web forum</title>

    <div class="topic">
    <ul>
        <li><a href="t/games">Games</a></li>
    </ul>
    <ul>
        <li><a href="t/music">Music</a></li>
    </ul>
    <ul>
        <li><a href="t/programming">Programing</a></li>
    </ul>
    <ul>
        <li><a href="t/free">Free</a></li>
    </ul>
    </div>
</body>
</html>