{% extends "template.html"%}
{% block content %}
<div class="conteudo">
    <div class="games">
        <a href="t/games">
            <img class="img-fluid" src="static/images/games.jpg" alt="games-image">
        </a>
    </div>
    <div class="music">
        <a href="t/music">
            <img class="img-fluid" src="static/images/music.jpg" alt="music-image">
        </a>

    </div>
    <div class="programming">
        <a href="t/programming">
            <img class="img-fluid" src="static/images/programming.jpg" alt="programming-image">
        </a>

    </div>
    <div class="free">
        <a href="t/free">
            <img class="img-fluid" src="static/images/free.jpg" alt="free-image">
        </a>

    </div>
</div>
{% endblock %}